﻿body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    font-size: 1em;
}

/*table:hover{
    cursor: pointer;
}*/

/*table:hover{
    cursor: pointer;
}*/

div.db_table:hover{
    cursor: pointer;
}

.db_table{
   margin-left: 2%;
   margin-right: 2%;   
}

table#pri_settings_tbl{
    width: 95%;
}

.popup{
    margin: 10px auto !important;
}

.overlay{
   overflow: scroll !important;
}

.row-primarykey {
    /*border-bottom: solid 1px !important;*/
    background: floralwhite;
}

.custom-row:hover{
    background: grey;
}

th i, td i{
    margin-left: 10%;
    margin-right: 3%
}

.w3-table td, .w3-table th, .w3-table-all td, .w3-table-all th {
    padding: 8px 14px !important;
}

.selected-row{
    background: grey;
}

select{
   margin-left: 1%;
   margin-right: 1%;
}

#right-section{
    display: inline-block;
    width: max-content !important;
}

td, th{
    /*width: max-content !important;*/
    white-space:nowrap;
}

#right-section div input{
    margin:auto;
}

#right-section div span{
    margin-left:2%;
}

#right-section div button{
    margin:auto;
}

button.btn-cancel{
    margin-left: 2%;
}

/*.endpoint svg * {
    fill: transparent;
    stroke: transparent;
}*/
        
div,table { 
    z-index: 1; 
}
table{
    background: white;
}

td{
    margin: 1px;
}

.jtk-connector { z-index:0; }

.alert-input{
    border:solid 1px red;
}

span.hover-click:hover{
    /*background: grey;*/
    cursor: pointer;
}

#pri_row span{
    padding: 5px;
}

table.rel_tbl{
    margin-top: 1%;
}

#add_newRel, #edit_rel_ok, #edit_RelOk{
    margin : 2%;
}

div#table-names{
    margin-left: 3%;
}

.margin-right-zero{
    /*margin-left: 30%;*/
}

.block{
    display: block;
}

.no-display{
    display: none;
}

tbl_Save_Cancel{
    margin-left: 2%;
}

.subrow span{
    display: inline;
}

button:hover{
    cursor: pointer;
}
.subrow select{
    margin-left: 1%;
    margin-right: 1%;
}

i{
    z-index: 2;
}

tr{
    z-index: 1;
}

button#btn_rel_remove{
    margin-left: 5%;
}

#pri_settings_tbl td{
    padding: 5%;
}

/*.jtk-endpoint { z-index:0; }*/
/*.jtk-overlay { z-index:1; }*/